<app-loading [show]="spinner" *ngIf="viewForm"></app-loading>
<div class="flex justify-content-center mt-4">
    <div class="col-6">
        <p-card>
            <div class="flex">
                <div class="flex-auto">
                    <form [formGroup]="frmClientes" (submit)="validarCampos(frmClientes.value, typeAction)">
                        <div class="grid">
                            <div class="col-12">
                                <div class="flex justify-content-end align-items-center">
                                    <div class="col-1 flex justify-content-start align-items-end">
                                        <i class="fas fa-chevron-left fa-2x" style="cursor: pointer;" (click)="return()"></i>
                                    </div>
                                    <div class="col-11 flex justify-content-end align-items-end">
                                        <h3 *ngIf="!viewForm">Crear nuevo cliente</h3>
                                        <h3 *ngIf="viewForm">Ver datos del cliente</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mt-2">
                                <span class="p-float-label">
                                    <input id="nombreUsurio" style="width: 100%;"
                                        appLetters
                                        formControlName="nombre" type="text" pInputText>
                                    <label for="nombreUsurio">Nombre del cliente</label>
                                </span>
                            </div>
                            <div class="col-4 mt-2">
                                <span class="p-float-label">
                                    <input id="apelldioCliente" style="width: 100%;"
                                        appLetters
                                        formControlName="apellidos" type="text" pInputText>
                                    <label for="apelldioCliente">Apellidos del cliente</label>
                                </span>
                            </div>
                            <div class="col-4 mt-2">
                                <span class="p-float-label">
                                    <input id="telefonoCliente" style="width: 100%;" [imask]="{mask: '0000-0000'}" formControlName="telefono"
                                        type="text" pInputText>
                                    <label for="telefonoCliente">Teléfono del cliente</label>
                                </span>
                            </div>
                            <div class="col-6 mt-3">
                                <span class="p-float-label">
                                    <input id="correoCliente" style="width: 100%;" formControlName="correo"
                                        type="text" pInputText>
                                    <label for="correoCliente">Correo del cliente</label>
                                </span>
                            </div>
                            <div class="col-6 mt-3">
                                <span class="p-float-label">
                                    <input id="nitCliente" style="width: 100%;" [imask]="{mask: '0000-000000-000-0'}" formControlName="nit"
                                        type="text" pInputText>
                                    <label for="nitCliente">NIT del cliente</label>
                                </span>
                            </div>
                            <div class="col-12 mt-5" *ngIf="!viewForm">
                                <button 
                                    *ngIf="typeAction == 1"
                                    class="btn-blue" type="submit" [style]="{'width':'100%'}"
                                    [disabled]="frmClientes.invalid ? true : false"
                                    [ngStyle]="{'opacity': frmClientes.invalid ? '0.1' : '1', 'cursor': frmClientes.invalid ? 'default' : 'pointer'}">
                                    {{typeAction == 1 ? 'REGISTRAR' : 'GUARDAR CAMBIOS'}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p-card>
    </div>
</div>